div.board_container.selected {
background:transparent;
}


div.board_container{
  /*background-color:#f4e476;*/
    word-wrap: break-word;
    overflow:hidden;
    /*box-shadow: 4px 4px 4px #8e8e8e;*/
    z-index:0;
}
div.board_container table{
  background-repeat:no-repeat;
  background-size:100%;
  background-image:url("/images/whiteboard.png");
color:black;
opacity:0.5;

}

div.board_container.selected table{
opacity:1;
}

div.board_container table tbody tr td h1{
color:black;
font-family:Hand Of Sean;
background:transparent;
}