div.field {
    /*background: url('../images/field_bakgrund_tile.png');*/
    position: absolute;
    background-color: #DDD;
  /*  border-style: solid; 
    border-width: 1px; */
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px#888;
    box-shadow: inner 0 0 5px #888;   
}
div.field.highlight {
  background-color: #C2C2C2;
}
textarea.field_name {
    border: none;
    border-style: none; 
    border-color: Transparent; 
    border:0;
    outline: 0;
    padding-top: 0px;
} 
.field_name {
    font-size: 36px;
    font-weight: bold;
    line-height: 30px;
    pointer-events: none;
    position: absolute;
    color: #AAA;
    width: 70%;
    height: 40px;
    left: 15%;
    margin-top: 20px;
    text-align: center;
    background-color: transparent;
    padding-top: 13px;
    resize: none;
}


div.field_name.activated {
    background-color: #C2C2E2;
}



.mergable {
    -moz-box-shadow: inset 0 0 18px ##3366cc;
    -webkit-box-shadow: inset 0 0 18px #3366cc;
    box-shadow: inset 0 0 18px #3366cc;
    background-color: #C2C2E2;
}

.split_helper {
    box-shadow: inner 0 0 5px #888;   
    position: absolute;
    display: inline;
    border: 2px dotted #00F;
    pointer-events: none;
}

.resizable8up-helper { 
 /*   border: 2px dotted #00F; */
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px#888;
    box-shadow: inner 0 0 5px #888;
}


.resizable8up-handle {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: #BBB;
    border-width: 1px;
}

.resizable8up-n { cursor: n-resize;}
.resizable8up-s { cursor: s-resize;}
.resizable8up-e { cursor: e-resize;}
.resizable8up-w { cursor: w-resize;}

.resizable8up-n, .resizable8up-s { height: 10px; width: 100%;}
.resizable8up-e, .resizable8up-w { top: 10px; bottom: 10px; width: 10px }


.resizable8up-n {
    border-style: none none solid none;
    top: 0px;
}

.resizable8up-s {
    border-style: solid none none none;
    bottom: 0px;
}

.resizable8up-e {
    border-style: none none none solid;
    right: 0px;
}

.resizable8up-w {
    border-style: none solid none none; 
    left: 0px;
}

.resizable8up-corner {
    height: 10px; width: 10px; position: absolute;
}

.resizable8up-nw { top: 0px; left: 0px; }
.resizable8up-sw { bottom: 0px; left: 0px; }
.resizable8up-ne { bottom: 0px; left: 0px; }
.resizable8up-se { bottom: 0px; left: 0px; }