#log_in_content{
	width: 15% ;
	margin-top: 15% ;
  	margin-left: auto ;
  	margin-right: auto ;
}

h2{
	font-size: 30px;
}

#user_list_container {
  margin-top: 10px;
  position:absolute;  

}

#logo {
position:fixed;
bottom:0%;

}
#log_title{
position:absolute;
top:5px;
text-align:right;
right:5px;
width:30%;
height:10%;
}