#log_in_content{
	width: 600px ;
	margin-top: 100px ;
  	margin-left: auto ;
  	margin-right: auto ;
}

h2{
  text-align: center;
	font-size: 30px;
}

h1{
	font-size: 31px;
}

#user_list_container {
  margin-top: 10px;
/*  position:absolute; */  

}

#logo {
position:fixed;
bottom:0%;

}
#log_title{
position:absolute;
top:5px;
text-align:right;
right:5px;
width:30%;
height:10%;
}