div.note {
    width: 140px; 
    height: 130px;
    padding: 10px;
    padding-top: 10px;
    background-image: url("/images/postit_yellow.png");
    background-repeat:no-repeat;
    background-size:100%;
    word-wrap: break-word;
    /*overflow:hidden;*/
	font-family:'Indie Flower';
    z-index:125;
}
div.note.selected {

}

div.note div.note_header {
    margin: 0px;
    font-size: 18px;
    font-family: Times New Roman;
    text-align: center;
    overflow: hidden;
    height: 110px;
    padding-left: 3px
}
div.note div.note_header:focus{
  outline: 0;
}

.background{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 125;
    opacity:.80;

}
#window_wrapper
{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 126;
}
.window {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;
    /*overflow: auto;*/
    background-color:#f4e476; 
    border: 3px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    
    /*z-index: 127;*/
}


.invite_win {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 50px;
    background-color:#f44576; 
    border: 3px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
  }


#note_editor_panel_wrapper {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  /*z-index: 127;*/
}

#note_editor_panel{  
  margin-left: auto;
  margin-right: auto;
  width: 510px;  
 /* z-index: 127;*/
  }
  
#note_body{
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  /*overflow: auto;*/
}

#note_body img{
  max-width: 320px;
  max-height: 320px;
}

.avatar_holder {
  position: absolute;
  top: -40px;
  right:135px;
  pointer-events: none;
}