div.note {
    width: 97px; 
    height: 80px;
    padding: 10px;
    padding-top: 10px;
    background-image: url("/images/postit_yellow_select.png");
    background-repeat:no-repeat;
    background-size:100%;
    word-wrap: break-word;
    /*overflow:hidden;*/
}
div.note.selected {

}

.ghost-note {
    opacity: 0.5;
    pointer-events: none;
}

div.note .note_header {
    margin: 0px;
    font-size: 15px;
    font-family:'Indie Flower';
    text-align: left;
    overflow: hidden;
    height: 80px;
    width: 94px;
    padding:0 0 0 3px;
    background: none;
    border: none;
    display: block;
    resize: none;
    line-height: 15px;
    white-space:pre-wrap;
}
div.note p.note_header{
  cursor:default;
}
div.note textarea.note_header {
}
div.note textarea.note_header:focus{
  outline: 0;
}

.background{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity:.80;
}
#window_wrapper
{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
}
.window {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;
    /*overflow: auto;*/
    background-color:#f4e476; 
    border: 3px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.invite_win {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 50px;
    background-color:#f44576; 
    border: 3px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}


#note_editor_panel_wrapper {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
}

#note_editor_panel{  
  margin-left: auto;
  margin-right: auto;
  width: 510px;  
}
  
#note_body{
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  /*overflow: auto;*/
}

#note_body img{
  max-width: 320px;
  max-height: 320px;
}

.avatar_holder {
  position: absolute;
  top: -16px;
  left:98px;
  pointer-events: none;
}

div.note.color-green{
  background-image: url(/images/postit_green.png);
}
div.note.color-green.selected{
  background-image: url(/images/postit_green_select.png);
}
div.note.color-yellow{
  background-image: url(/images/postit_yellow.png);
}
div.note.color-yellow.selected{
  background-image: url(/images/postit_yellow_select.png);
}
div.note.color-orange{
  background-image: url(/images/postit_orange.png);
}
div.note.color-orange.selected{
  background-image: url(/images/postit_orange_select.png);
}
div.note.color-blue{
  background-image: url(/images/postit_blue.png);
}
div.note.color-blue.selected{
  background-image: url(/images/postit_blue_select.png);
}
div.note.color-red{
  background-image: url(/images/postit_red.png);
}
div.note.color-red.selected{
  background-image: url(/images/postit_red_select.png);
}