#menu_bar {
  position: fixed;
  top: 0px;
  right: 10px;
  background: transparent;
}
#menu_bar li a{
    background: transparent; 
    font-family:arial; 
    font-size:14px;
    color:#a74d0c;
    font-weight:bold;
}
#menu_bar li a:hover {
text-decoration: none;
background:transparent;
color:#ff7817;
font-weight:bold;
}
#panel_button {
margin-top:0px;
}
#add_button_background{
    width:150%;
    height=:110%;
    opacity:0.4;
}

#add_button_background:hover {
opacity:1;
}

#create_new_board_button {
     background: transparent;
     list-style: none;
     position: fixed;
     right:20px;
     bottom:10px;
     width:50px;
     height:50px;
}

#menu_bar ul {
  list-style: none;
}

#menu_bar li {
  
  display: inline;
}
  
#cont { 
  margin-left:50px; 
  margin-right:30px; 
  
}


.board_container {
  float: left;
  margin: 10px;
  margin-top: 15px;
  padding: 2px ;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.board_container ul.header{
  display: inline;
  list-style: none;
  overflow: auto;
  width: 100%;
  padding-left: 230px;
}
.board_container ul.header li{
  display: inline;
}
#workspace .board_container .header a{
  font-size: inherit;
  display: inline;
  line-height: inherit;
}
#workspace .board_container .header a img{
  width: 16px;
  height: 16px;
}

#workspace div a {
  display: block;
  font-size: 30px;
  line-height: 35px;
  width: 80%;
  text-decoration: none ;
  word-wrap: break-word;
}

#workspace div a:hover {
  color: black;
  background-color: transparent;
}

#workspace div.hotness0 {
  background-color: #FFFA40;
}
#workspace div.hotness1 {
  background-color: #FF8C00;
}
#workspace div.hotness2 {
  background-color: #FF5600;
}

#workspace div.hotness3 {
  background-color: #AFF53D;
}

#workspace{
	position:absolute;
	height:100%;
	width:100%;
  left: 0px;
  bottom: 0px;
  background-image:url("/images/logo_merge.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size:60% 80%;
  background-attachment: fixed;
}

#content { }
#choose_avatar{
  width: 540px;
  height:240px;
  clear: both;
  margin: auto ;
}
#choose_avatar ul {
  list-style: none;
  clear: both;
}

#choose_avatar li {
  padding: 10px 0px 10px 0px;
  display: block;
  border: 1px;
  border-style: solid;
  border-color: #CC0;
  float: left;
  margin: 5px 0px 0px 2px;
}

#choose_avatar img {
  width: 50px;
  height: 50px;
}
.avatar_holder img {
  width: 50px;
  height: 70px;
}

#board_title {
    position: fixed;
    left: 50%;
    top: 0px;
    font-family:arial; 
    font-size:18px;
    color:#a74d0c;
    font-weight:bold;
    opacity: 0.5;
}