#menu_bar {
  position: fixed;
  top: 0px;
  right: 10px;
  z-index: 125;
  background: transparent;
}
#menu_bar li a{
    background: transparent; 
    font-family:arial; 
    font-size:17px;
    color:#a74d0c;
    font-weight:bold;
}
#menu_bar li a:hover {
text-decoration: none;
background:transparent;
color:#ff7817;
font-weight:bold;
}
#panel_button {
margin-top:0px;
}
#add_button_background{
    width:150%;
    height=:110%;
    opacity:0.4;
}

#add_button_background:hover {
opacity:1;
}

#create_new_board_button {
     background: transparent;
     list-style: none;
     position: fixed;
     right:20px;
     bottom:10px;
     width:50px;
     height:50px;
}

#menu_bar ul {
  list-style: none;
}

#menu_bar li {
  
  display: inline;
}
  
#cont { 
  margin-left:50px; 
  margin-right:30px; 
  
}


.board_container {
  width: 250px;
  height: 250px;
  float: left;

  margin: 10px;
  padding: 2px ;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

#workspace div a {
  display: block;
  font-size: 30px;
  line-height: 35px;
  width: 80%;
  text-decoration: none ;
  word-wrap: break-word;
}

#workspace div a:hover {
  color: black;
  background-color: white;
}

#workspace div.hotness0 {
  background-color: #FFFA40;
}
#workspace div.hotness1 {
  background-color: #FF8C00;
}
#workspace div.hotness2 {
  background-color: #FF5600;
}

#workspace div.hotness3 {
  background-color: #AFF53D;
}

#workspace{
	position:absolute;
	height:100%;
	width:100%;
  left: 0px;
  bottom: 0px;
  background-image:url("/images/logo_merge.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size:60% 80%;
}

#content { 
  margin-left:70px; 
  margin-right:30px;   
}