.split_button {
    width: 50px;
    height: 50px;
}
#split_horiz {
    opacity:0.5;
}
#split_horiz:hover {
    opacity:1;
}
#split_vert {
    opacity:0.5;
}
#split_vert:hover {
    opacity:1;
}
#avatar img {
    width:50%;
}
#toolbox_container { 
    z-index:255;
    float:left; 
    position:fixed; 
    height: 100%; 
}
#split_buttons_container .depressed {
    opacity:1;
    -moz-box-shadow: inset 0 0 18px ##3366cc;
    -webkit-box-shadow: inset 0 0 18px #3366cc;
    box-shadow: inset 0 0 18px #3366cc;
}
#panel_arrow {
    opacity:0.4;
}
#toolbox_area_2:hover #panel_arrow{
    opacity:1;
}
#toolbox_area_1 {
    float:left;
    background-color: #F8C996;
    height:100%;
    width:200px;
    display: none; 
}

#toolbox_area_1 a{
    color:black;
}

#toolbox_area_2 {
    float:left;
    height:100%;
    width:39px; 
    background-image: url('/images/panel.png');
    background-repeat: repeat-y;
}

#toolbox_area_2 img {
    position: relative; left: 14%;
    top: 50%; height:30px; width:30px;
}
div#toolbox_text_container {
    position:relative;
    border:solid;
    border-width:1px;
    border-color:#ff7817;
    left:10px;
    width:175px;
    background-color:#FFD5A8;
}

#toolbox_text_1 {
    color:#a74d0c;
    font:15px Segoe UI;
}
#toolbox_text_2 {
    color:#a74d0c;
    font:15px Segoe UI;
}

.palette_color {
    margin: 5px 5px 5px 5px;
    width: 30px;
    height: 30px;
    float: left;
}

#color_chooser {
    display: block;
}

#avatar {
    clear: both;
}

#title2 {
width:180px;
height:30px;
margin-left:10px;
margin-top:10px;

}

.toolbox_buttons{
position:relative;
width:60%;
font:20px Segoe UI;
color:#a74d0c;
text-decoration:none;
margin-left:10px;
}
.toolbox_buttons:hover{
cursor:pointer;
color:#ff7817;
  -webkit-text-stroke-width: 0.3px;
   -webkit-text-stroke-color: #F8C996;

}

