.split_button {
  float:left;
  width: 40px;
  height: 40px;
  margin-left:10px;
}
#split_horiz {
    margin-left:10px;
    float:left;
    font:13px Segoe UI;
    color:#a74d0c;
}
#split_horiz:hover {
    color:#ff7817;
    cursor:pointer;
}
#split_vert {
    margin-top:8px;
    margin-left:10px;
    float:left;
    font:13px Segoe UI;
    color:#a74d0c;
}
#split_vert:hover {
    color:#ff7817;
    cursor:pointer;
}
#merge_button {
    clear: both;
    margin-top:8px;
    margin-left:10px;
    margin-right: 10px;
    font:13px Segoe UI;
    color:#a74d0c;
}

#toolbox_container { 
    float:left; 
    position:fixed; 
    height: 100%; 
}
#split_buttons_container .depressed {
    opacity:1;
    -moz-box-shadow: inset 0 0 18px ##3366cc;
    -webkit-box-shadow: inset 0 0 18px #3366cc;
    box-shadow: inset 0 0 18px #3366cc;
}

.tool.tool_active {
    opacity:1;
    -moz-box-shadow: inset 0 0 18px ##3366cc;
    -webkit-box-shadow: inset 0 0 18px #3366cc;
    box-shadow: inset 0 0 18px #3366cc;
}

#panel_arrow {
    opacity:0.4;
}
#toolbox_area_2:hover #panel_arrow{
    opacity:1;
}
#toolbox_area_1 {
    float:left;
    background-color: #F8C996;
    height:100%;
    width:200px;
    display: none; 
}

#toolbox_area_1 a{
    color:black;
}

#toolbox_area_2 {
    float:left;
    height:100%;
    width:39px; 
    background-image: url('/images/panel.png');
    background-repeat: repeat-y;
}

#toolbox_area_2 img {
    position: relative; left: 14%;
    top: 50%; height:30px; width:30px;
}
div#toolbox_text_container {
    position:relative;
    border:solid;
    border-width:1px;
    border-color:#ff7817;
    top:8px;
    left:10px;
    width:175px;
    background-color:#FFD5A8;
}

#toolbox_text_1 {
    color:#a74d0c;
    font:13px Segoe UI;
    font-weight:bold;
    border-bottom:solid;
    border-width:1px;
    border-color:#ff7817;
}
#toolbox_text_2 {
    color:#a74d0c;
    font:13px Segoe UI;
}

.palette_color {
    margin: 2px 2px 2px 2px;
    width: 30px;
    height: 30px;
    float: left;
}

#color_chooser {
    display: block;
    list-style-type: none;
}

#add_avatar {
	margin-left:10px;
    float:left;
	font:13px Segoe UI;
    color:#a74d0c;
}
#add_avatar:hover {
    color:#ff7817;
    cursor:pointer;
}
#remove_avatar {
    margin-left:10px;
    float:left;
	  font:13px Segoe UI;
    color:#a74d0c;
    
}
#remove_avatar:hover {
    color:#ff7817;
    cursor:pointer;
}
#user_avatar{
    float:left;
    width: 40px;
    height: 40px;
}
#avatar_button {
    margin-left:10px;
    margin-top:15px;
    text-align: center;
    position:relative;
}
/*#avatar_button img {
    width: 40px;
    height: 40px;
}*/

#title2 {
width:180px;
height:30px;
margin-left:10px;
margin-top:10px;

}

.toolbox_buttons{
position:relative;
width:60%;
font:13px Segoe UI;
color:#a74d0c;
text-decoration:none;
margin-left:10px;
}
.toolbox_buttons:hover{
cursor:pointer;
color:#ff7817;
  -webkit-text-stroke-width: 0.3px;
   -webkit-text-stroke-color: #F8C996;

}
#user_list_container{
border:solid;
border-width:1px;
border-color:#ff7817;
left:10px;
width:175px;
background-color:#FFD5A8;
position:relative;
top:10px;
}
#online_user_list{
color:#a74d0c;
font:13px Segoe UI
}
#online_user_title{
color:#a74d0c;
font:13px Segoe UI;
font-weight:bold;
border-bottom:double;
border-width:1px;
border-color:#ff7817;
}
#color_chooser{
position:relative;
margin-left:2px;
}
#color_chooser_container{
position:relative;
margin-top:15px;
border:solid;
border-width:1px;
border-color:#ff7817;
left:10px;
width:175px;
background-color:#FFD5A8;
position:relative;
top:10px;
}
#color_chooser_head{
color:#a74d0c;
    font:13px Segoe UI;
    font-weight:bold;
    border-bottom:solid;
    border-width:1px;
    border-color:#ff7817;
}
#clear_both_fix{
clear:both;
}
#split_buttons_container{
float:left;
margin-top:5px;
margin-left:6px;
}
#tip_of_the_day_container{
border:solid;
border-width:1px;
border-color:#ff7817;
left:49px;
width:175px;
background-color:#FFD5A8;
position:absolute;
bottom:10px;
}
#tip_of_the_day_list{
color:#a74d0c;
font:12px Segoe UI
}
#tip_of_the_day_list2{
color:#a74d0c;
font:12px Segoe UI
}
#tip_of_the_day_title{
color:#a74d0c;
font:13px Segoe UI;
font-weight:bold;
border-bottom:double;
border-width:1px;
border-color:#ff7817;
}