<center>
  <br>
  <br>
<h2>Settings</h2>
  <br>
  <br>
  <br>

<%= link_to "Change name and/or mail", @current_user %>
  <br>
  <br>
<%= link_to "Change password", settings_edit_password_path %>
  <br>
  <br>
<%= link_to "Change avatar", settings_change_avatar_path %>


</center>