<center>
	<h3 id="settings">Settings</h3>
	<div id="edit_user"><%= link_to "Edit user", users_edit_path %></div>
	<div id="change_avatar"><%= link_to "Change avatar", settings_change_avatar_path %></div>
</center>