<div id="workspace">
<ul id="boards_container">
<% @boards.each_with_index do |board, index| %>
<% if board.in_trash == false %>
<li id="board_<%= board.id %>" class="hotness<%= board.hotness %> board_container">
  <%= link_to board.name, board %>
</li>
<% end %>
<% end %>
</ul>
</div>