<div id="workspace">
	<%= render :partial => 'board', :locals => { :template => true } %>
  
  <% @boards.each_with_index do |board, index| %>
  <% if board.in_trash == false %>
		<%= render :partial => 'board', :locals => { :board => board, :template => false } %>
	<% end %>
<% end %>

</div>
