<% @board.fields.each do |field|%>
<div class="field" style="position:absolute; top:<%= field.position_x %>px; left:<%= field.position_y %>px; width:<%= field.width %>px; height:<%= field.height %>px;">
--
</div>

<% end %>
