<div id="toolbox_container"  <%= show_toolbox %>>
	<div ID="toolbox_area_1">
		<img src="/images/title2.png" id="title2"/>

		<div id="context_area">
			<!-- Denna div visas om vi är i översiktsläget för boards-->
			<div id="boards_overview" display="none">
				<div> <span class="toolbox_button_add toolbox_buttons"><img src="/images/plus.png" style="margin-right:10px;" width="20px" height="20px"/>New Board</span></div>
			</div>

			<!-- Denna div visas när vi gått in i ett whiteboard, dvs /boards/:id -->
			<div class="board_view" display="none">
				<div> <span class="toolbox_button_create_note toolbox_buttons"><img src="/images/plus.png" style="margin-right:10px;" width="20px" height="20px"/>New note</span></div>
				<div> <span  class="toolbox_button_invite toolbox_buttons"><img src="/images/invite.png" style="margin-right:10px;" width="20px" height="20px"/>Invite</span></div>
			</div>
			<div class="notes_selected" display="none">
				<div> <span  class="toolbox_button_delete toolbox_buttons"><img src="/images/minus.png" style="margin-right:10px;" width="20px" height="20px"/>Delete</span></div>
			</div>
		</div>

		<div ID="toolbox_text_container">
			<div ID="toolbox_text_1">
			<h3 id="toolbox_header_name">Information</h3>
			</div>
			<div Id="toolbox_text_2">
				<div id="toolbox_info_name"></div>
				<div id="toolbox_info_created"></div>
				<div id="toolbox_info_updated"></div>
				<div id="toolbox_info_owner"></div>
			</div>
		</div>
		<div id="user_list_container">
			<div id="online_user_title">Online users:</div>
			<div id="online_user_list"></div>
		</div>
		
		<!-- denna div visas när vi markerat en eller flera notes -->
    <div class = "board_view">
      <div class="notes_selected" display="none">
        <div id="color_chooser_container">
        <div id="color_chooser_head">Choose Color</div>
				<ul id="color_chooser">
					<li class="palette_color" data-color="/images/postit_green.png" style="background-color: green; background-image: url("/images/postit_green.png");"/>
					<li class="palette_color" data-color="/images/postit_blue.png" style="background-color: blue;"/>
					<li class="palette_color" data-color="/images/postit_yellow.png" style="background-color: yellow;"/>
					<li class="palette_color" data-color="/images/postit_red.png" style="background-color: red;"/>
					<li class="palette_color" data-color="/images/postit_orange.png" style="background-color: orange;"/>
					<!--<li class="palette_color" style="background-color: pink;"/>
					<li class="palette_color" style="background-color: #f4e476;"/>
					<li class="palette_color" style="background-color: crimson;"/>
					<li class="palette_color" style="background-color: #FFFFFF;"/>-->
				</ul>
        <div id="clear_both_fix"></div>
      </div>
				<div id="avatar">
					<p>Avatar</p>
					<img src="/images/avatar/<%= current_user().avatar %>"/>
				</div>
			</div>
		<div id="split_buttons_container" data-split_direction="none">
      <img id="split" class="split_button" src="/images/split.png"/>
			<!--<img id="split_vert" class="split_button" src="/images/button_v.png"/>
			<img id="split_horiz" class="split_button" src="/images/button_h.png"/>-->
		</div>
		</div>
	</div>
	
	<div ID="toolbox_area_2">
		<img src="/images/panel_button_right.png" id="panel_arrow"/>
	</div>


</div>
