<div id="toolbox_container"  <%= show_toolbox %>>    
	<div ID="toolbox_area_1">

		<a href="#"><p class="toolbox_button_delete">Delete</p></a>
		<a href="#"><p class="toolbox_button_invite">Invite</p></a>

		<div ID="toolbox_text_container">
			<div ID="toolbox_text_1">
				<h3 id=toolbox_header_name>Name</h3>
			</div>
			<div Id="toolbox_text_2">
				<div id=toolbox_info_name></div>
				<div id=toolbox_info_created></div>
				<div id=toolbox_info_updated></div>
				<div id=toolbox_info_owner></div>
			</div>
			<div id="user_list_container">
				Online users:
				<div id="online_user_list"></div>
			</div>

		</div>
		<div id="context_area">
			
		</div>

    <div id="online_user_list" ></div>
    <div style="margin:100px 0px 0px 10px">
      <p>Avatar</p>
      <div id="avatar" style="margin:20px 0px 0px 20px"><img src="/images/avatar/<%= current_user().avatar %>" width="50%"></div> 
    </div>

		<div ID="color_change_table">
			<table id = "split_button_table">
				<tr>
					<th colspan="3">SPLIT</th>
				</tr>
				<tr>
					<td><img src="/images/button_h.png" id = "split_vert" width="50px" height="50px"></td>
					<td><img src="/images/button_v.png" id = "split_horiz" width="50px" height="50px"></td>
				</tr>
			</table>
			<table cellpadding="10" cellspacing="9" align="middle">
        
				<tr>
					<th colspan="3">Choose Color:</th>
				</tr>
				<tr>
					<td bgcolor="green" id = 'green'></td>
					<td bgcolor="blue" id = 'blue'></td>
					<td bgcolor="yellow" id = 'yellow'></td>
				</tr>
				<tr>
					<td bgcolor="red" id = 'red'></td>
					<td bgcolor="orange" id = 'orange'></td>
					<td bgcolor="pink" id = 'pink'></td>
				</tr>
				<tr>
					<td bgcolor="#f4e476" id = 'original'></td>
					<td bgcolor="crimson" id = 'crimson'></td>
					<td bgcolor="fuchsia" id = 'fuchsia'></td>
				</tr>
      



			</table> 

		</div>      

	</div>

	<div ID="toolbox_area_2">
		<img src="/images/panel_button_right.png" id="panel_arrow" style="position: relative; left: 14%;
		top: 50%;" height="30px" width="30px" />
	</div>


</div>