<!DOCTYPE html>
<html>
<head>
  <title>Application8up</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>  
  <div id="toolbox_container">    
    <div ID="toolbox_area_1" style="margin-top:-8px; margin-left:-7px">
      <a href="#"><p class="toolbox_button_delete">Delete</p></a>
      <a href="#"><p class="toolbox_button_invite">Invite</p></a>

      <div ID="toolbox_text_container">
        <div ID="toolbox_text_1">
          <h3>Name</h3>
        </div>
        <div Id="toolbox_text_2">
          info
        </div>
      </div>
    </div>
    <div ID="toolbox_area_2" style="margin-top:-8px; margin-left:-7px">
    </div>
    
  </div>

<div id="content">    
	<%= yield %>  
</div>
<div id="menu_bar">
	<ul>
    <li><a href="/boards/" style="background: transparent; font-family:arial; font-size:17px;">Menu</a></li>
    <li><a href="#" style="background: transparent; font-family:arial; font-size:17px;">Settings</a></li>
    <li><a href="#" style="background: transparent; font-family:arial; font-size:17px;">Log Out</a></li> 
	</ul>
</div>
<div id="create_new_board_button">  
  <a href="/boards/new" style="background: transparent"><img src="/images/add_button.png" width="150%" height="110%"></a>
</div>
			<div id="in_focus_image" class="window">
				<div id=note_body></div>
			</div>
			
		<div id="black_background" class="background"</div>

</body>
</html>
