<!DOCTYPE html>
<html>
<head>
  <title>Application8up</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="toolbox_container">
	--
</div>

<div id="content">
	<%= yield %>
</div>

<div id="menu_bar">
	--
</div>
</body>
</html>
