<!DOCTYPE html>
<html>
	<head>
		<title>Application8up</title>
		<%# stylesheet_link_tag ["aaareset", "log_in"] %>
		<%= stylesheet_link_tag :all %>
		
	</head>
	<body>
		<div id="log_in_content">    
			<%= yield %>  
		</div>
	</body>
</html>